





.history {
  padding: 10px;
  font-size: 12px;
  color: #666;
}
.history .title{
  height: 30px;
  width: 100%;
  cursor: pointer;
}

.history-content{
  border: 1px dashed red;
}

.history-content li{
  height: 30px;
  line-height:30px;
  padding-left:10px;
  border-bottom: 1px dashed red;
}

.history-content li:last-child{
  border-bottom: none;
}

.history-content li i{
  height: 30px;
  line-height:30px;
}













